.header {
  background-color: #b490ca;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 24px;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
.main {
  min-height: calc(100vh - 64px - 68px);
}
.footer {
  text-align: center;
  background-color: #5ee7df;
  border-top: 1px solid #e8e8e8;
}
